@using Microsoft.AspNetCore.Components.Routing


<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(Layout.MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>ページが見つかりません</PageTitle>
        <p>お探しのページは見つかりませんでした。</p>
    </NotFound>
</Router>
